/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-brown-medium);
}

::-webkit-scrollbar-thumb {
    background: var(--color-brown-lighter);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-brown-lightest);
}

